## **Exercise 1**

In [ ]:
# 1.a import pandas and matplotlib.pyplot

In [ ]:
# 1.b load weather data into a dataframe with pd.read_csv() and look at the first rows of the data
weather_data = 'https://drive.google.com/uc?id=1anZ9GvZZZ0cidvW97QrQAiAKfIuqBBwr'

In [ ]:
# 1.c transform column dt to datetime and set as index

In [ ]:
# 1.d filter all columns from germany and store them in a new variable

In [ ]:
# plot average temperature from germany from year 2000 on

In [ ]:
# plot average temperature from germany from year 2006 only

In [ ]:
# plot average temperature from germany from october 2006 to june 2007

## **Exercise 2**

In [ ]:
# import data
import seaborn as sns
df = sns.load_dataset("penguins")
df.head()

In [ ]:
# 2. a create a pairplot

In [ ]:
# 2.b create a pairplot, add hue parameter to pairplot call and set it to 'species'

## **Exercise 3**

In [ ]:
# load data
import pandas as pd
df = pd.read_csv('https://drive.google.com/uc?id=11MXGbMEncqxUmi_OcdBbNOly2FfY4z1B')
df.fillna(0,inplace=True)
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [ ]:
# 3.a create a correlation table

                    longitude  latitude  ...  median_income  median_house_value
longitude            1.000000 -0.924664  ...      -0.015176           -0.045967
latitude            -0.924664  1.000000  ...      -0.079809           -0.144160
housing_median_age  -0.108197  0.011173  ...      -0.119034            0.105623
total_rooms          0.044568 -0.036100  ...       0.198050            0.134153
total_bedrooms       0.068082 -0.065318  ...      -0.007295            0.049148
population           0.099773 -0.108785  ...       0.004834           -0.024650
households           0.055310 -0.071035  ...       0.013033            0.065843
median_income       -0.015176 -0.079809  ...       1.000000            0.688075
median_house_value  -0.045967 -0.144160  ...       0.688075            1.000000

[9 rows x 9 columns]

In [ ]:
# load functions
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
# 3.b define target column and set it to y_target, define featues which will be included in your model

In [ ]:
# 3.c train model and make predictions

LinearRegression()

In [ ]:
# 3.d test your model

RMSE =  71849.90537170296